<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Crear usuario</title>

  <link rel="stylesheet" type="text/css" href="/crear-usuario.css"
</head>
<body>
    <form id="create-article" autocomplete="off">
    <label for="autor">Autor:</label>
      <input type="text" id="autor" name="autor"><br><br>
    
    <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo"><br><br>

    <label for="cuerpo">Cuerpo:</label>
    <input type="text" id="cuerpo" name="cuerpo"><br><br>

    <input type="submit" value="Submit" onsubmit="e.preventDefault();">
  </form>

  <script>
    const form = document
    </script>
    
  </script>
</body>
