<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    <link rel="stylesheet" href="./inicio.css">
</head>
<body>
    <h1><%= locals.bienvenida %></h1>

    <input type="text" id="buscador">
    <button id="btn-buscar">Buscar</button>
    <div id="btn-create-article">
      <a href="https://ubuntuperonista.blogspot.com/" target="_blank">+</a>
    </div>
    
</body>
</html>
